*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.container{
    width: 80%;
    margin: auto;
}
image{
    max-width: 100%;
}

/* start header */
header{
    background-color: #FDC800;
    /* height: 45px; */
    padding: 20px;
} 
header .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem;
}
header .fa-bars{
    display: none;
    cursor: pointer;
}
header .fa-bars:hover + .i3{
    display: grid; 
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100%;
    padding: 1rem;
}
header .i1{
    display: flex;
    gap: 0.5rem;
}
header .i2{
    display: flex;
    gap: 0.5rem;
}
header .i3{
    display: flex;
    margin-left: 100%;
    gap: 1.5rem;
    justify-content: flex-start;
}
header .i1 a{
    text-decoration: none;
    color: black;
}
header .i2 a{
    text-decoration: none;
    color: black;
}
/* end header */

/* ------------------------------------- */

/* start main */
main{
    background-color: #F0F4F9;
}
main h4{
    font-size: 24px;
}
main .container{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 justify-content: center;
 align-items: center;
}
main .logo{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 1rem;
}
main nav{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    margin-right: -235px;
    align-items: center;
}
main .fa-bars{
 display: none;
}
main nav a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
main i{
    margin-left: 10px;
}
main nav a.activie{
    background-color: #FDC800;
    padding: 0.5rem;
}
/* end main */

/* sec1 */
.sec1{
    background-color: #F0F4F9;
    width: 100%;
    height: 540px;
    padding: 2rem 0;
}
.sec1 .text-box h6{
    color: #FDC800;
    font-size: 16px;
}
.sec1 .text-box p{
    color: #002147;
    font-size: 48px;
}
.sec1 .boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    position: relative;
}
.sec1 .boxes .box2{
    border: 1px solid #002147;
    width: 370px;
    height: 555px;
}
.sec1 .boxes .box2 .divi{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
}
.sec1 .boxes .box2 .img1{
    position: absolute;
    bottom: 38px;
    right: 182px;
}
.sec1 .boxes .box2 .info{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 126px;
}
/* sec1 */

/* sec2 */
.sec2{
    padding: 12rem 0;
}
.sec2 .text p{
    width: 770px;
}
.sec2 .text .p1{
    margin-bottom : 1rem;
}
.sec2 .text h2{
    width: 770px;
}
.sec2 .title{
    margin-top: 1rem;
}
.sec2 .all{
    width: 770px;
}
.sec2 .all div{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}
/* sec2 */

/* start sec 4 */

.section-4 .container{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 5rem;
    position: relative;
}
.section-4 .img-box span{
    position: absolute;
    top: -8%;
    left: 0%;
    background-color: #FDC800;
}
.section-4 .text-box{
    position: absolute;
    bottom: -6%;
    right: 61%;
    background-color: #fff;
    padding: 10px;
    width: 400px;
    height: 77px;
    text-align: center;
}
.section-4 .title{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section-4 .title h1{
    font-size: 50px;
    margin-top: 40px;
}
.section-4 .title p{
    margin-top: 16px;
}
.section-4 .title h5{
   margin-bottom: 96px;
}
.section-4 .title strong{
    color: #FDC800;
}
.section-4 .title2{
    position: absolute;
    bottom: 10px;
    right: 35px;
}
.section-4 .title2 img{
    position: absolute;
    bottom: -2px;
    left: 40px;
}
.section-4 .title3{
    width: 100%;
    height: 75px;
    margin-left: 85px;
    padding: 4px 40px;
    border-radius: 10px;
    background-color: azure;
}
/* end sec4 */

/*start sec6 */
.sec6{
    padding: 5rem 0;
}
.sec6 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20rem;
    flex-wrap: wrap;
    position: relative;
}
.sec6 .text-box h6{
    color: #FDC800;
    font-size: 16px;
}
.sec6 .text-box p{
    color: #002147;
    font-size: 48px;
}
.sec6 .info{
    position: absolute;
    left: 48%;
    bottom: 23%;
}
.sec6 .info label {
    position: absolute;
    right: 1;
    margin-top: 18px;
}
.sec6 .info label i{
   margin-left: 0.5rem;
}
.sec6 .info input {
    padding: 0 2rem;
    width: 495px;
    height: 56px;
}
.sec6 .info a{
    text-decoration: none;
    position: absolute;
    left: 331px;
    bottom: 5px;
    background-color: #FDC800;
    color: #002147;
    padding: 4px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 160px
}
/*end sec6 */
/* footer */
footer{
    padding: 5rem 0;
    background-color: #002147;
    color: #fff;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
}
footer .logo{
    width: 128%;
}
footer .img-box{
    display: flex;
    align-items: center;
}
footer .logo h4{
    color: #fff;
    font-size: 23px;
}
footer .info1{
    display: flex;
    gap: 0.5rem;
    margin: 1rem;
    width: 25%;

}
footer .boxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
footer .final{
    background-color: #FDC800;
    color: #002147;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -38%;
    width: 100%;
    height: 60px;
    gap: 47rem;
}
footer .icon{
    display: flex;
    gap: 1rem;
}
/* footer */





















/*header */
@media (max-width:768px)  {
    header{
        display: none;
    }
    header .i3{
        display: none;
    }
    header .fa-bars{
        display: inline-block;
        margin-left: 192%;
        }
    
}
/*header */

/* main */
@media (max-width:768px)  {
    main nav{
        display: none;
    }
    main .fa-bars{
        display: inline-block;
        margin-left: 183%;   
     }
    
}
/* main */

/* sec1 */
@media (max-width:992px) {
    .sec1 .boxes{
        grid-template-columns: repeat(1,1fr);
    }
}
/* sec1 */

/* sec4 */
@media (max-width:768px) {
    .section-4 .container{
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        justify-content: center;
    }
    .section-4 .img-box img{
        width: 100%;
    }
    .section-4 .img-box span {
        position: absolute;
        left: -10%;
    }
    .section-4 .text-box{
        position: absolute;
        bottom: 50%;
        width: 100%;
        right: 0%;
    }
    .section-4 .title {
        gap: 0;
    }
    .section-4 .title h1 {
        font-size: 50px;
        /* margin-top: 85px; */
    }
    .section-4 .title2{
        position: absolute;
        bottom: 10px;
        right: 35px;
        width: 101%;
    }
    .section-4 .title p {
        margin-top: 0;
    }

}
@media (min-width:768px) and (max-width:992px){
    .section-4 .container{
        gap: 1rem;
    }
    .section-4 .img-box span{
        position: absolute;
        top: 8%;
        left: -3%;
    }
    .section-4 .text-box{
        position: absolute;
        bottom: 12%;
        right: 32%;
         width: 67%;
    }
    .section-4 .title{
        gap: 0;
    }
    .section-4 .title2{
        position: absolute;
    bottom: -15px;
    left: -40px;
    }
}
@media (min-width: 992px) and (max-width:1500px){
    .section-4 .title p{
        margin-top: 0;
    }
}
/* sec4 */

/* sec6 */
@media (max-width:878px) {
    .sec6 .info{
        position: absolute;
        bottom: -10%;
        left: 15%;
        width: 100%;
    }
}
/* sec6 */
/* footer */
@media (max-width:560px) {
    footer .boxes {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0;
        margin-left: 23px;
    }
    footer .final{
        gap: 0;
        position: absolute;
        bottom: -15%;
    }
    footer .icon{
        position: absolute;
        right: 1%;
    }
}
@media (min-width:560px) and (max-width:768px){
    footer .boxes {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0;
        margin-left: -5px;
    }
}

/* footer */